@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html,
body {
  font-family: Titillium\ Web, sans-serif;
  background-color: #000!important;
}

.show-cursor{
  cursor: pointer;
}

@media (max-width:767px){
  .featured-movie + .featured-movie{
    margin-top: 30px;
  }
}